---
import type { GetStaticPaths } from "astro";
import { parse as parseYaml } from "yaml";
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/page-blocks/Breadcrumbs.astro";
import { loadFromCMS } from "../../cms/loadFromCMS";
import Code from "astro/components/Code.astro";
import PageHero from "../../components/page-blocks/PageHero.astro";
const { slug } = Astro.params;
import BlockRenderer from "../../components/page-blocks/BlockRenderer.astro";

export const getStaticPaths = async () => {
  const chapters = await loadFromCMS({ query: 'page("chapters").children' });
  // chapterId is a path ie 'chapters/_____'
  return chapters.map((chapterId: string) => {
    const chapterSlug = chapterId.split("/")[1];
    return { params: { slug: chapterSlug } };
  });
};

const rawData = await loadFromCMS({ query: `page('chapters/${slug}')` });

const blockData = parseYaml(rawData.content.text);

const content = await loadFromCMS({
  query: `page('chapters/${slug}')`,
});
const pageFiles = await loadFromCMS({
  query: `page('chapters/${slug}').files`,
  select: ["uuid", "url", "alt", "size", "extension", "filename", "caption"],
});
---

<Layout title={`${content.title}`}>
  <h1>{content.title}</h1>
  <p>Chapter pages coming soon!</p>
</Layout>

<style></style>
