---
const query = Astro.url.searchParams.get("query") || "";
const types = Astro.url.searchParams.getAll("type") || "";
const pageStr = Astro.url.searchParams.get("page") || "1";
const page = parseInt(pageStr);
import Layout from "../layouts/Layout.astro";
import SearchQuery from "../components/page-blocks/SearchQuery.astro";
import SearchHero from "../assets/graphic-hero/search-hero.png";
import { Image } from "astro:assets";
import PageTypeFilter from "../components/page-blocks/PageTypeFilter.astro";
---

<Layout>
  <div class="search-box">
    <div class="search-box-content">
      <p>earthrise commons</p>
      <h1>the journey toward a sustainable future is here!</h1>
      <form method="GET" action="/explore">
        <input
          type="text"
          name="query"
          placeholder="Search the Commons"
          value={query ?? ""}
        />
        <button type="submit">Search</button>
      </form>
    </div>

    <Image src={SearchHero} alt="" class="search-img" />
  </div>

  <PageTypeFilter query={query} types={types} page={pageStr} />

  {true && <SearchQuery types={types} query={query} page={page} />}
</Layout>

<style>
  .search-box {
    color: var(--color-background);
    padding: 3rem 1rem;
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: var(--size-padded-super);
    align-items: center;
  }

  .search-box-content {
    max-width: var(--size-padded-content);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  h1,
  p {
    font-weight: 600;
  }
  .search-box form {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  form input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem 0rem 0 0.5rem;
    color: var(--color-text);
  }
  form button {
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;
  }
  .search-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    border-radius: 0.5rem;
  }
</style>
