---
import type { SearchQueryType } from '../../types/searchQueryTypes';
import {pageTypes} from "../../types/searchQueryTypes"  
interface Props extends SearchQueryType{}
const {props}=Astro;
import { Image } from 'astro:assets';

---

<script >
    document.addEventListener("astro:page-load", () => {
    const filterBtn = document.querySelector('#btn-clear-pt-filter');
  filterBtn?.addEventListener('click',()=>{
    const gridItems=document.querySelectorAll('.page-types-grid input');
    gridItems?.forEach((item)=>{
      item.checked=false;
    })
  })
  });
  
</script>
 <form method="GET" action="/explore" >
     <div class="inline-heading-group"><h3>Filter by Page Type:</h3><button id="btn-clear-pt-filter">Clear filter</button></div> 
      
      <input hidden type="text" name="query" value={props.query ?? ""} />
      
            <div class="page-types-grid">
                    {
        pageTypes.map((pageType) => {
          return (
            <input
              type="checkbox"
              id={pageType.value}
              name="type"
              class="really-hidden"
              value={pageType.value} checked={props.types.includes(pageType.value)}
            />
            <label class="filter-label" style={`--color-filter:${pageType.color}`} for={pageType.value}>
              <Image src={pageType.Graphic} alt=""  class={"filter-label-img"}></Image>
            <span class="filter-label-text">
             {pageType.label} </span>  </label>
          );
        })
      }
              <button type="submit">Filter</button> </div>

   
    </form>

    <style>
      form{
        max-width: var(--size-padded-super);
      }
h3{
  margin-bottom:1rem
}

.page-types-grid{
  margin-top:1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 80px;
  gap:.5rem;
}
.filter-label{
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: stretch;
  /* padding:1rem; */
  border: 2px solid var(--color-filter);
  color: var(--color-filter);
  border-radius:.5rem;
  font-weight:600;
}
.filter-label-img{
/* background-color: yellow; */
/* object-fit: cover; */
position: absolute;
z-index: 0;
left:0;top:0;bottom:0;
height: 100%;
width:auto;
opacity: .25;
}
.filter-label-text{
  padding:1rem;
  position: relative;
  z-index: 10;
}
.filter-label::after{
  content:"";
  background-color: var(--color-filter);
  position: absolute;
  left:0;top:0;right:0;bottom:0;
  z-index: -10;
  opacity: 0;
}
.filter-label:hover .filter-label-img{
  opacity: 1;
}
.filter-label:hover::after{
  opacity:0.125
}

input:checked+.filter-label{
  background-color: var(--color-filter);
  color: var(--color-theme-background);
}
input:checked+.filter-label .filter-label-img{
 opacity:1;
}

button{
  text-align: center;
  border-radius:.5rem
}

      .really-hidden {
  border: 0;
  clip: rect(0 0 0 0); /* Or clip-path: inset(50%); for modern browsers */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
    #btn-clear-pt-filter{
      display: none;
      margin-left:.5rem;
      color:var(--color-theme-accent-a);
      background: none;
      text-decoration: underline;
      font-weight: 500;
    }
    form:has(input:checked) #btn-clear-pt-filter{
      display: inline-block;

    }
    
.inline-heading-group h3{
  display: inline;
}

    </style>

