---
const { data } = Astro.props;
import { normalizeTagsFromYaml } from "../../cms/normalizeTags";
import { parse as parseYaml } from "yaml";
import Image from "astro/components/Image.astro";
import PersonBanner from "../../assets/layouts/person-banner.png";
import TagGroup from "./TagGroup.astro";
import Accordion from "../content-blocks/Accordion.astro";
const hasPhoto = data.photo && data.photo.url;
const tags = normalizeTagsFromYaml(data.tags || "");
// TODO: build placeholder photo component
import PersonPlaceholder from "../placeholders/PersonPlaceholder.astro";
---

<div class="person-hero">
  <Image class={"person-banner"} src={PersonBanner} alt={""} />
  <div class="person-content-pane">
    {
      hasPhoto ? (
        <Image
          src={data.photo.url}
          width={data.photo.width}
          height={data.photo.height}
          alt={""}
          class={"person-image"}
        />
      ) : (
        <PersonPlaceholder uuid={data.uuid} class="person-image" />
      )
    }
    <!--  -->
    <h1>
      {data.displayname}
      {data.pronouns !== "" && <span class="pronouns">({data.pronouns})</span>}
    </h1>
    {data.role && <p>{data.role}</p>}
    <!-- <Accordion title="Contact Information" /> -->
    <TagGroup tags={tags} />
  </div>
</div>

<style>
  .person-hero {
    max-width: var(--size-padded-page);
    border-radius: 0.5rem;
    border: 1px solid var(--color-borders);
  }
  .person-banner {
    height: 9rem;
    object-fit: cover;
  }
  .person-image {
    background-color: var(--color-borders);
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    position: absolute;
    top: -6rem;
    border-radius: 6rem;
    border: 0.5rem solid var(--color-background);
  }
  .person-content-pane {
    max-width: var(--size-padded-content);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 7rem 1rem 1rem 1rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  .pronouns {
    font-weight: 400;
  }
</style>
