---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import PersonPlaceholder from "../placeholders/PersonPlaceholder.astro";

const { personName, personOrg, personImage, personId, personUuid } =
  Astro.props;

const hasPhoto = personImage;
---
{personName && (
<div class="person-block">
  {
    personImage ? (
      <Image class="person-block-image" src={personImage.url} inferSize alt="" />
    ) : (
      <PersonPlaceholder class="person-block-image" uuid={personUuid} />
    )
  }
  <!-- TODO: add link to bio page -->
  <div class="person-block-text">
    <p class="person-block-name">{personName}</p>
    <p class="person-block-org">{personOrg}</p>
  </div>
  {
    personId && (
      <a
        href={`/${personId}`}
        class="person-block-link"
        aria-label={`View ${personName}'s profile`}
      >
        <Icon name="fa7-solid:arrow-right" width="24" height="24" />
      </a>
    )
  }
</div>)}

<style>
  .person-block {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family:;
  }
  .person-block-image {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 2.25rem;
    object-fit: cover;
  }
  .person-block-name {
    font-weight: 600;
  }
  .person-block-org {
    font-size: 1rem;
  }
  .person-block-link {
    padding: 0.5rem 0.5rem;
    color: var(--color-theme-accent-a);
  }
  .person-block-link:hover {
    background-color: var(--color-theme-accent-a);
    color: var(--color-background);
    border-radius: 0.5rem;
  }
</style>
