---
interface Props {
  query: string;
  page: number;
  types: string[];
}
const PAGINATION_SIZE = 12;
const { query, page, types } = Astro.props;
import CardFeed from "./CardFeed.astro";
import Pagination from "./Pagination.astro";
import { loadFromCMS } from "../../cms/loadFromCMS";
import { randomizeArray } from "../../helpers/randomizeArray";

const cmsQuery = query ? `site.search('${query}')` : "site.index.children";
const typeQuery =
  types.length > 0
    ? `.filterBy('intendedTemplate',"in",["${types.join(`", "`)}"])`
    : "";
const combinedQuery = cmsQuery + typeQuery;
console.log(combinedQuery);
const pageParams = new URLSearchParams("");
pageParams.append("query", query);
pageParams.append("page", (page + 1).toString());

const getPaginationURL = (page: number) => {
  const tempParams = new URLSearchParams("");
  tempParams.append("query", query);
  tempParams.append("page", page.toString());
  return "?" + tempParams.toString();
};

const pages = await loadFromCMS({
  query: combinedQuery,
  select: {
    id: true,
    uuid: true,
    taxonomy: { query: "page.taxonomy.toObject()" },
    // blueprint: true,
    template: {
      query: "page.intendedTemplate",
    },
    // fields for pages
    title: true,
    organizationname: true,
    role: true,
    level: true,
    hero: {
      query: `page.hero.safeResize(600)`,
      select: ["url", "width", "height"],
    },
    author: {
      query: "page.author.toPage",
      select: ["displayname", "organizationname", "location"],
    },
    location: true,
    // fields for people
    displayname: true,
    photo: {
      query: `page.photo.isNotEmpty ? page.photo.toFile.crop(256,256) : null`,
    },
  },
  pagination: {
    limit: PAGINATION_SIZE,
    page: page,
  },
});
const paginationData = pages.pagination;

const sortedPages = randomizeArray(pages.data);
const startPage = (paginationData.page - 1) * PAGINATION_SIZE + 1;
const endPage = startPage + pages.data.length - 1;
const hasResults = paginationData.total > 0;

const resultsMsg = hasResults
  ? `${paginationData.total} results found. Showing ${startPage} through ${endPage}:`
  : `No results found.`;
---

{query ? <h2>Results for: {query}</h2> : <h2>Explore Earthrise Commons:</h2>}
<p>{resultsMsg}</p>

<!-- <pre>{JSON.stringify(pages,null,5)}</pre> -->
<CardFeed pageData={sortedPages} />
{
  hasResults && (
    <Pagination
      current={paginationData.page}
      max={paginationData.pages}
      query={query}
    />
  )
}
